[submodule "vendor/imgui/modules/imgui"]
	path = vendor/imgui/modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/yaml-cpp/modules/yaml-cpp"]
	path = vendor/yaml-cpp/modules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "vendor/detours/modules/detours"]
	path = vendor/detours/modules/detours
	url = https://github.com/microsoft/Detours.git
